/* !color-cp:ads */.ads {
  text-align: center
}

.ads-wrapper:not(.native-related) {
  width: 100%
}

.ads-wrapper.bg-banner {
  margin-bottom: 60px
}

.ads-wrapper.bg-banner .ads div[id*=banner-responsive-horizontal-] {
  padding: 20px 0;
  margin-bottom: 0;
  background-color: rgba(242,242,242,.3);
  background-image: url(//imguol.com/c/_layout/v2/ads/bg_banner.png)
}

.native-vitrine.bg-banner {
  margin-bottom: 60px
}

.native-vitrine.bg-banner #responsive-vitrine-publicidade {
  padding: 20px 0;
  margin-bottom: 0;
  background-color: rgba(242,242,242,.3);
  background-image: url(//imguol.com/c/_layout/v2/ads/bg_banner.png);
  width: 100vw
}

.native-vitrine.bg-banner #responsive-vitrine-publicidade div[id*=responsive-vitrine-publicidade-vitrine-] {
  background: #fff;
  margin: 0 auto
}

.ads-wrapper .chapeu,.native-vitrine .chapeu {
  font-size: 10px;
  line-height: 26px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000;
  font-weight: 400
}

.close-banner .svg-icon-close {
  fill: #fff;
  padding: 0 6px;
  margin-top: -4px;
  width: 35px;
  height: 35px;
  right: 0;
  top: 0
}

.thumbnail-item .ads {
  margin-bottom: 0
}

.special-ads .ads div[id*=banner-responsive-horizontal-] {
  margin-bottom: 0
}

.ads div[id*=banner-responsive-horizontal-] {
  margin-bottom: 40px
}

div[id*=banner-native-mais_noticias-area-] {
  margin-bottom: 24px
}

div[id*=banner-native-mais_noticias-area-] iframe {
  display: block
}

@media (min-width:768px) {
  div[id*=banner-native-mais_noticias-area-],div[id*=banner-native-mais_noticias-area-]>div {
    height: 290px!important
  }

  .native-vitrine.bg-banner #responsive-vitrine-publicidade {
    margin-left: calc((747px - 100vw)/ 2)
  }
}

@media (min-width:992px) {
  .ads div[id*=banner-responsive-album-1] {
    margin-bottom: 40px
  }

  .ads div[id*=banner-responsive-album-] {
    margin-bottom: 60px
  }

  div[id*=banner-responsive-horizontal-],div[id*=banner-responsive-top-horizontal-],div[id*=banner-responsive-top-horizontal-album-] {
    min-height: 90px;
    min-width: 728px
  }

  div[id*=banner-responsive-top-vertical-],div[id*=banner-responsive-vertical-] {
    height: 600px;
    width: 300px
  }

  .native-vitrine.bg-banner #responsive-vitrine-publicidade {
    margin-left: calc((949px - 100vw)/ 2)
  }
}

@media (min-width:1230px) {
  .native-vitrine.bg-banner #responsive-vitrine-publicidade {
    margin-left: calc((1152px - 100vw)/ 2)
  }
}

@media (min-width:768px) and (max-width:991px) {
  div[id*=banner-responsive-horizontal-] {
    margin: 0 auto
  }

  .special-ads div[id*=banner-responsive-horizontal-] {
    width: auto
  }

  div[id*=banner-responsive-middle-2-horizontal-area-] {
    margin: 0 auto;
    width: 320px
  }
}

@media (max-width:767px) {
  .native-vitrine.bg-banner #responsive-vitrine-publicidade {
    margin-left: -10px
  }

  .special-ads div[id*=banner-responsive-horizontal-] {
    width: auto
  }

  .ads div[id*=banner-responsive-album-1] {
    margin-bottom: 30px
  }

  .ads div[id*=banner-responsive-album-] {
    margin-bottom: 40px
  }

  div[id*=banner-responsive-middle-2-horizontal-area-] {
    margin: 0 auto;
    width: 300px!important
  }

  .thumbnail-item .ads {
    margin-bottom: 0
  }

  div[id*=banner-responsive-middle-2-horizontal-area-] {
    margin: 0 auto;
    width: 320px
  }
}/* !end-color-cp:ads *//* !color-cp:bannersmart */.bannersmart {
  height: 80px;
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  border-bottom: #ccc 1px solid;
  z-index: 2
}

.bannersmart:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -5px
}

.bannersmart span {
  display: block
}

.bannersmart .close {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  width: 30px;
  height: 80px;
  padding-left: 5px
}

.bannersmart .logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-background-size: 100%;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 57px;
  height: 57px
}

.bannersmart .info {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  font-size: 14px
}

.bannersmart .info.no-button {
  width: 65%
}

.bannersmart .info span {
  font-size: 12px;
  line-height: 12px
}

.bannersmart .view {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  float: right;
  margin-right: 5px;
  width: 35px;
  height: 80px;
  line-height: 80px;
  min-width: 10%;
  color: #000;
  font-size: 15px
}/* !end-color-cp:bannersmart *//* !color-cp:bannersticky */.bannersticky-top {
  background-color: #f2f2f2;
  background-image: url(//imguol.com/c/_layout/v2/ads/bg_banner.png)
}

.bannersticky-top .ads {
  padding-top: 10px;
  padding-bottom: 10px
}

.bannersticky-top-container {
  min-height: 110px
}

.bannersticky-top {
  display: none;
  min-height: 110px;
  position: fixed;
  width: 100%;
  z-index: 6000007
}

.bannersticky-top .ads {
  margin: 0!important
}

@media (max-width:767px) {
  .bannersticky-top-container {
    min-height: 75px
  }

  .bannersticky-top {
    min-height: 75px
  }
}

@media (min-width:992px) {
  .bannersticky-top-container {
    min-height: 275px!important
  }

  div.bannersticky-top.ignore-header.ads-stick {
    position: absolute!important;
    top: 135px!important
  }

  .bannersticky-top .ads-wrapper {
    position: relative;
    transform: translate(0,-50%);
    top: 50%
  }

  .bannersticky-top {
    background-color: #f2f2f2;
    background-image: url(//imguol.com/c/_layout/v2/ads/bg_banner.png);
    display: none;
    height: 275px;
    width: 100%;
    z-index: 6000007
  }

  .bannersticky-top .ads {
    margin: 0!important;
    padding-top: 10px;
    padding-bottom: 10px
  }
}

.bannersticky-top-container.testTopFixed,.bannersticky-top.testTopFixed {
  height: 250px
}/* !end-color-cp:bannersticky */