html .causa hr.normal,
html .causa hr.thin,
html .causa hr.thin-normal {
  border: 0;
  height: 7px;
  background: transparent url(../../img/separador.svg) repeat-x;
}

.causa .header-box + hr.normal {
  margin-bottom: 0;
}

.header-box {
  background: url(../../img/header-bg.svg);
  background-size: 200%;
}

.causa .header.header-verticais .invert{
  background: none;
}

.causa .header.header-verticais .brand .main-links{
  position: static;
}

.causa .header.header-verticais .brand .main-links .station-link a,
.causa .header.header-verticais .brand .main-links .box-logo .icon-uol {
  background: none;
}

.causa .header.header-verticais .brand .main-links .box-logo .icon-uol {
  width: 0;
  height: 0;
  margin-top: 0;
}

.causa .header.header-verticais .brand .main-links .station-link a {
  background: url(../../img/logo.svg) no-repeat;
  background-position: 0 0;
  margin: 19px 0 0 0;

}

.causa .header.header-verticais:not(.is-fixed) .brand .open-menu {
  background-color: #ff8f51;

}
.causa .header .headline {
  background-color: #c13553;
  width: 100%;
  color: #fff;
  font-family: 'Space Mono', monospace;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 0;
}

.causa .one-highlight-with-subtitles .img-wraper {
  background-color: #4c335a;
}

.causa .one-highlight-with-subtitles .container {
  padding-left: 0;
  padding-right: 0;
}

.causa .one-highlight-with-subtitles .text-container .highlight-title {
  background-color: #4c335a;
  color: #ff8f51;
  font-family: 'Archivo Black', sans-serif;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 5px;
  text-align: center;
  width: 90%;
}

.causa .one-highlight-with-subtitles a:hover .text-container .highlight-title {
    color: #45d4d1;
}
.causa .one-highlight-with-subtitles .text-container .highlight-title p {
  border-radius: 0;
  box-shadow: none;
  background: none;
}


.causa .one-highlight-with-subtitles .text-container .highlight-subtitle p {
  color:#4c335a;
  font-family: 'Space Mono', monospace;
  font-size: .8em;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 90%;
}

.causa .one-highlight-with-subtitles a:hover .text-container .highlight-subtitle p {
 text-decoration: underline;
}

.causa .highlights-with-photo .thumbnail-standard .thumb-caption .thumb-kicker {
  background-color: #4c335a;
  border-radius: 0;
  color: #ff8f51;
  display: block;
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  padding: 10px 10px 10px 20px;
}

.causa .highlights-with-photo .thumbnail-standard .thumb-caption .thumb-title {
  color: #4c335a;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  line-height: 1.2em;
}

.causa .thumbnail-standard a:hover .thumb-title {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 500px){
  .causa .one-highlight-with-subtitles .text-container .highlight-title {
    font-size: 1.7em;
    line-height: 1.4em;
  }
}

@media (min-width: 768px) {

  .causa .header.header-verticais:not(.is-fixed) .brand {
    background: yellow;
  }

  .causa .header.header-verticais:not(.is-fixed) .top-box {
    position: static
  }
  .causa .header.header-verticais:not(.is-fixed) .top-box  ul {
    display: flex;
  }
}

@media (max-width: 767px){

  html .causa hr.normal,
  html .causa hr.thin,
  html .causa hr.thin-normal {
    background-position: 0 0;
  }

  .causa .header-box {
    height: 122px;
    margin-bottom: 0;
  }

  .causa .header.header-verticais:not(.is-fixed) .brand {
    height: 122px;
    text-align: center;
  }

  .causa .header.header-verticais:not(.is-fixed) .brand .open-menu {
    margin: 19px 14px 0 10px;
  }

  .causa .header.header-verticais .brand .main-links .station-link a {
    width: 200px;
    height: 50px;
  }

  .causa .header.header-verticais:not(.is-fixed) .invert {
    border-bottom-width: 1px;
  }
}

@media (min-width:992px) {

  .causa .header .brand .main-links {
    display: block;
  }

  .causa .header.header-verticais:not(.is-fixed) .brand .main-links .station-link a {
    height: 78px;
    width: 328px;
    margin-top: 0;
    margin-left: 0;
  }
  
  .causa .header.header-verticais:not(.is-fixed) .brand .main-links .box-logo .icon-uol {
    width: 50px;
    height: 50px;
    margin-top: 0;
  }
}

@media (min-width: 1230px){
  .causa .header.header-verticais:not(.is-fixed) .open-menu {
    margin: 0;
  }
}



