/* !color-cp:footer */.footer .copy {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  height: 50px;
  line-height: 58px;
  text-align: center
}

.footer .wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #f2f2f2;
  color: #fff
}

.footer .wrapper .share-footer .report-error-button .button a {
  background-color: #f2f2f2
}

.footer .svg-icon-social {
  fill: #fff;
  height: 25px
}

.footer svg {
  width: 100%
}

.footer {
  margin-top: 50px
}

.footer .box-logo {
  display: inline-block;
  padding: 0;
  margin: 0
}

.share-footer {
  font-size: 13px
}

.share-footer p {
  line-height: 20px;
  font-size: 16px;
  color: #000
}

.share-footer nav {
  float: right
}

.share-footer nav a {
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  height: 42px;
  line-height: 38px;
  width: 42px;
  text-align: center
}

.share-footer nav a.share-youtube {
  font-size: 26px
}

.share-footer .share-facebook {
  background-color: #3b5998
}

.share-footer .share-twitter {
  background-color: #44c1f5
}

.share-footer .share-instagram {
  background-color: #6f4f42
}

.share-footer .share-pinterest {
  background-color: #bd081c
}

.share-footer .share-google-plus {
  background-color: #dc4437
}

.share-footer .share-youtube {
  background-color: #d72523
}

.share-footer .share-flipboard {
  background-color: #f42727
}

.share-footer .share-linkedin {
  background-color: #0077b5
}

@media (max-width:767px) {
  .footer .wrapper {
    position: relative;
    padding: 40px 0
  }

  .footer .wrapper .share-footer {
    margin: 0;
    text-align: center;
    width: 100%
  }

  .footer .wrapper .share-footer p {
    margin-bottom: 10px
  }

  .footer .wrapper .share-footer p span {
    bottom: 30px;
    left: 0;
    line-height: 18px;
    position: absolute;
    width: 100%
  }

  .footer .wrapper .share-footer nav {
    width: 100%
  }

  .footer .wrapper .share-footer nav div {
    margin: 0 auto;
    display: inline-flex
  }

  .footer .wrapper .share-footer .report-error-button .button a {
    margin-top: 24px
  }
}

@media (min-width:768px) {
  .footer .wrapper {
    padding: 10px 0
  }

  .footer .wrapper .share-footer {
    float: right;
    width: 670px
  }

  .footer .wrapper .share-footer p {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #999;
    letter-spacing: -1.1px
  }

  .footer .wrapper .share-footer nav .flex {
    display: flex
  }

  .footer .wrapper .share-footer .report-error-button {
    float: right;
    margin-bottom: 0;
    margin-top: 1px
  }

  .footer .copy {
    height: 53px;
    line-height: 56px
  }
}

@media (min-width:992px) and (max-width:1229px) {
  .footer .copy {
    font-size: 12px
  }
}

@media (min-width:992px) {
  .footer .wrapper {
    padding: 10px 0
  }

  .footer .wrapper .share-links p {
    margin-top: 12px
  }
}

@media (min-width:1230px) {
  .footer .wrapper .share-footer {
    margin-right: 20px
  }

  .footer .copy {
    height: 68px
  }
}/* !end-color-cp:footer *//* !color-cp:header */body.lock-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden
}

body .mobile-mask {
  position: fixed;
  height: 1000px;
  width: 100%;
  z-index: 6000004;
  top: 125px
}

.header {
  width: 100%
}

.header.opened-header {
  position: absolute;
  z-index: 6000007;
  top: 0
}

.header .show-item {
  display: block
}

.bannersticky-top-container.margin-header {
  margin-bottom: 50px
}

.header .specials {
  position: relative
}

.header .wrapper-header.tab .brand .open-menu {
  background-color: #333;
  position: relative
}

.header .container {
  position: relative
}

.header.is-fixed {
  position: fixed;
  top: 0;
  z-index: 999999
}

.header.opened-header {
  position: absolute;
  z-index: 6000007;
  top: 0
}

.header,.header .brand {
  overflow: hidden;
  font-family: UOLText,Arial,sans-serif;
  -webkit-overflow-scrolling: touch;
  -o-transition: height .2s;
  -ms-transition: height .2s;
  -moz-transition: height .2s;
  -webkit-transition: height .2s;
  transition: height .2s
}

.header .brand {
  overflow: visible
}

.header.is-closed,.header.is-closed .brand {
  height: 0!important;
  overflow: hidden
}

.widgetNotify.is-active-search,.widgetNotify.is-closed {
  height: 0!important;
  overflow: hidden!important
}

.lock-screen .widgetNotify {
  position: fixed!important;
  z-index: 6000098!important
}

.widgetNotify {
  z-index: 6000098!important
}

.header .brand {
  height: 50px;
  position: relative
}

.header .brand .open-menu {
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  display: table
}

.header .brand .open-menu em {
  vertical-align: middle;
  display: table-cell;
  text-transform: uppercase;
  font-style: normal;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .06em
}

.header .brand .open-menu .close-button {
  display: block;
  padding: 13px 12px 5px
}

.header .brand .open-menu .close-button svg {
  width: 25px;
  height: 25px;
  margin: 0 auto
}

.header .brand .main-links .box-logo .icon-uol {
  float: left;
  font-size: 44px;
  padding: 4px 0 0 0
}

.header .brand .main-links .box-logo .svg-container {
  padding-top: 18px;
  float: left
}

.header .brand .main-links .box-logo .svg-container .svg-logo {
  width: 88px;
  fill: #fff
}

.header .brand .main-links .station-link {
  float: left
}

.header .brand .main-links .station-link a {
  font-size: 20px;
  font-weight: 300;
  display: table;
  padding: 14px 0 0;
  line-height: 25px
}

.header .tab .brand .main-links .uol-tab-logo {
  background: url(https://conteudo.imguol.com.br/c/_layout/v2/components/header/logo_uol_1x.png) no-repeat center left;
  width: 28px;
  float: left;
  height: 50px;
  text-indent: -9999px
}

.header .tab .brand .main-links .station-link a {
  font-size: 80px;
  font-weight: 400;
  padding: 0;
  margin-top: -6px
}

.header .tab .brand .main-links .station-link a:before {
  font-family: uol-tab;
  font-style: normal;
  content: "c";
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.header .brand .top-box {
  position: absolute;
  top: 0;
  height: 50px
}

.header .brand .top-box.right {
  right: 0
}

.header .brand .top-box.left {
  left: 0
}

.header .brand .top-box.right li {
  float: right;
  margin: 1px 10px 0 10px
}

.header .brand .top-box.left li {
  float: left;
  margin: 1px 0 0 10px
}

.header .brand .top-box li a {
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 50px;
  display: inline-table;
  font-weight: 300
}

.header .brand .top-box li a:hover {
  opacity: .7
}

.header .brand .top-box li a i {
  font-size: 22px;
  line-height: 50px;
  vertical-align: top
}

.header .brand .top-box.right li:not(:first-child) span {
  margin-left: 7px
}

.header .brand .top-box.right .modal-login .wdg-login span {
  margin-left: 0
}

.header .brand .top-box li.search-box {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  width: 0;
  padding: 8px 0 0;
  z-index: 6000005;
  transition: .3s ease-in
}

.header .brand .top-box li.search-box form {
  position: relative
}

.header .brand .top-box li.search-box input.search-query {
  margin: 0;
  border: none;
  font-size: 15px;
  width: 100%;
  outline: 0;
  padding: 0 40px 0 10px;
  line-height: 32px;
  height: 34px
}

.header .brand .top-box li.search-box button.search-submit {
  margin: 0;
  line-height: normal;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  cursor: pointer
}

.header .brand .top-box li.search-box .search-query,.header .brand .top-box li.search-box .search-submit {
  display: none
}

.header .brand .top-box li.search-box .search-submit i {
  font-size: 22px
}

.header .brand .top-box li.search-box.show-search-box {
  width: 100%;
  transition: .3s ease-out
}

.header .brand .top-box li.search-box.show-search-box .search-query,.header .brand .top-box li.search-box.show-search-box .search-submit {
  display: block
}

.header .brand .top-box .pic-mail {
  float: left;
  height: 50px;
  width: 26px
}

.header .brand .top-box .mail-notification em {
  font-style: normal;
  position: absolute;
  left: 18px;
  padding: 0 4px;
  top: 8px;
  background-color: #d5150b;
  min-width: 14px;
  height: 13px;
  border-radius: 13px;
  color: #fff;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  font-family: UOLText,Arial;
  letter-spacing: .1px;
  font-size: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.2)
}

.header .nav-stations {
  display: block
}

.header .nav-stations .nav-stations-wrapper {
  height: 50px;
  width: 100%;
  display: table
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item {
  display: table-cell;
  position: relative
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item>a {
  display: block;
  padding: 11px 0 13px;
  text-align: center
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.choosen-item,.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.principal-item {
  border-color: #fff
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.choosen-item.arrow::after,.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.choosen-item.arrow::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  left: 50%;
  margin-left: -7px
}

body .mobile-mask {
  position: fixed;
  height: 1000px;
  width: 100%;
  z-index: 6000004;
  top: 125px
}

.header {
  width: 100%
}

.header.opened-header {
  position: absolute;
  z-index: 6000007;
  top: 0
}

.header .show-item {
  display: block
}

.bannersticky-top-container.margin-header {
  margin-bottom: 50px
}

.header .wrapper-header.tab .brand .open-menu {
  background-color: #333;
  position: relative
}

.header .container {
  position: relative
}

.header.is-fixed {
  position: fixed;
  top: 0;
  z-index: 999999
}

.header.opened-header {
  position: absolute;
  z-index: 6000007;
  top: 0
}

.header,.header .brand {
  transition: height .2s;
  overflow: hidden;
  font-family: UOLText,Arial,sans-serif
}

.header .brand {
  overflow: visible
}

.header.is-closed,.header.is-closed .brand {
  height: 0!important
}

.widgetNotify.is-active-search,.widgetNotify.is-closed {
  height: 0!important;
  overflow: hidden!important
}

.lock-screen .widgetNotify {
  position: absolute!important;
  z-index: 6000008!important
}

.header .brand {
  height: 50px;
  position: relative
}

.header .brand .open-menu {
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  display: table
}

.header .brand .open-menu em {
  vertical-align: middle;
  display: table-cell;
  text-transform: uppercase;
  font-style: normal;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .06em
}

.header .brand .main-links .box-logo .icon-uol {
  float: left;
  font-size: 44px;
  padding: 4px 0 0 0
}

.header .brand .main-links .box-logo .svg-container {
  padding-top: 18px;
  float: left
}

.header .brand .main-links .box-logo .svg-container .svg-logo {
  width: 88px;
  fill: #fff
}

.header .brand .main-links .station-link {
  float: left
}

.header .brand .main-links .station-link a {
  font-size: 20px;
  font-weight: 300;
  display: table;
  padding: 14px 0 0;
  line-height: 25px
}

.header .tab .brand .main-links .uol-tab-logo {
  background: url(https://conteudo.imguol.com.br/c/_layout/v2/components/header/logo_uol_1x.png) no-repeat center left;
  width: 28px;
  float: left;
  height: 50px;
  text-indent: -9999px
}

.header .tab .brand .main-links .station-link a {
  font-size: 80px;
  font-weight: 400;
  padding: 0;
  margin-top: -6px
}

.header .tab .brand .main-links .station-link a:before {
  content: "c";
  font-family: uol-tab;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.header .brand .top-box {
  position: absolute;
  top: 0;
  height: 50px
}

.header .brand .top-box.right {
  right: 0
}

.header .brand .top-box.left {
  left: 0
}

.header .brand .top-box.right li {
  float: right;
  margin: 1px 10px 0 10px
}

.header .brand .top-box.left li {
  float: left;
  margin: 1px 0 0 10px
}

.header .brand .top-box li a {
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 50px;
  display: inline-table;
  font-weight: 300
}

.header .brand .top-box li a:hover {
  opacity: .7
}

.header .brand .top-box li a i {
  font-size: 22px;
  line-height: 50px;
  vertical-align: top
}

.header .brand .top-box.right li:not(:first-child) span {
  margin-left: 7px
}

.header .brand .top-box li.search-box {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  width: 0;
  padding: 8px 0 0;
  z-index: 6000005;
  transition: .3s ease-in
}

.header .brand .top-box li.search-box form {
  position: relative
}

.header .brand .top-box li.search-box input.search-query {
  margin: 0;
  border: none;
  font-size: 15px;
  width: 100%;
  outline: 0;
  padding: 0 40px 0 10px;
  line-height: 32px;
  height: 34px
}

.header .brand .top-box li.search-box button.search-submit {
  margin: 0;
  line-height: normal;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  cursor: pointer
}

.header .brand .top-box li.search-box .search-query,.header .brand .top-box li.search-box .search-submit {
  display: none
}

.header .brand .top-box li.search-box .search-submit i {
  font-size: 22px
}

.header .brand .top-box li.search-box.show-search-box {
  width: 100%;
  transition: .3s ease-out
}

.header .brand .top-box li.search-box.show-search-box .search-query,.header .brand .top-box li.search-box.show-search-box .search-submit {
  display: block
}

.header .brand .top-box .pic-mail {
  float: left;
  height: 50px;
  width: 26px
}

.header .brand .top-box .mail-notification em {
  font-style: normal;
  position: absolute;
  left: 18px;
  padding: 0 4px;
  top: 8px;
  background-color: #d5150b;
  min-width: 14px;
  height: 13px;
  border-radius: 13px;
  color: #fff;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  font-family: UOLText,Arial;
  letter-spacing: .1px;
  font-size: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.2)
}

.header .nav-stations {
  display: block
}

.header .nav-stations .nav-stations-wrapper {
  height: 50px;
  width: 100%;
  display: table
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item {
  display: table-cell;
  position: relative
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item>a {
  display: block;
  padding: 11px 0 13px;
  text-align: center
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.choosen-item,.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.principal-item {
  border-color: #fff
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.choosen-item.arrow::after,.header .nav-stations .nav-stations-wrapper .nav-stations-item>a.choosen-item.arrow::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  left: 50%;
  margin-left: -7px
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu {
  position: absolute;
  box-shadow: 0 8px 8px 0 rgba(77,77,77,.3);
  background: #fff;
  z-index: 99999;
  white-space: nowrap;
  display: none
}

.header:not(.touchDevice) .nav-stations .nav-stations-wrapper .nav-stations-item:hover .nav-stations-submenu {
  display: block
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items {
  display: table-cell;
  padding: 20px
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items:not(.showcase) {
  min-width: 250px
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items ul {
  display: table-cell
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items ul:not(.subscribe):hover li a {
  opacity: .7
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items .choosen,.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items .choosen:hover {
  opacity: 1
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu li a {
  color: #1a1a1a;
  display: block;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu ul:not(.subscribe):hover li a {
  transition-duration: .3s
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu ul:not(.subscribe):hover li a:hover {
  opacity: 1;
  transition-duration: .3s
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu li a.highlight {
  font-weight: 400
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items.showcase {
  background-color: #f2f2f2
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items.showcase li a {
  font-size: 14px;
  line-height: 29px;
  color: #333
}

.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu .nav-items.showcase .showcase-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300
}

.header .menu-wrapper-mobile .nav-menus ul.horoscope-nav {
  margin: 10px 12px 20px;
  min-width: 225px;
  border-top: 1px solid #e6e6e6;
  padding-top: 5px
}

.header .menu-wrapper-mobile .nav-menus ul.horoscope-nav li {
  padding: 0;
  margin-bottom: 0
}

.header .menu-wrapper-mobile .nav-menus ul.horoscope-nav li:first-child {
  margin: 0 15px 0 0;
  padding: 10px 0 10px 7px;
  font-weight: 400;
  border: 0
}

.header .menu-wrapper-mobile {
  background-color: rgba(0,0,0,.7);
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: .3s ease-in-out;
  display: none;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch
}

.header .menu-wrapper-mobile.show-submenu {
  width: 100%;
  opacity: 1;
  transition: .3s ease-in-out;
  display: block;
  z-index: 99999
}

.header .menu-wrapper-mobile .nav-menus {
  background-color: #fff;
  z-index: 100
}

.header .menu-wrapper-mobile .nav-menus .back-to-home,.header .menu-wrapper-mobile .nav-menus .back-to-stations {
  display: block;
  height: 50px;
  padding: 13px 0 0 15px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-size: 15px
}

.header .menu-wrapper-mobile .nav-menus .back-to-stations:hover {
  opacity: .7
}

.header .menu-wrapper-mobile .nav-menus .back-to-stations i {
  font-size: 12px;
  margin-right: 5px;
  margin-top: -1.5px
}

.header .menu-wrapper-mobile .nav-menus .stations-list {
  display: none
}

.header .menu-wrapper-mobile .nav-menus .channels-list,.header .menu-wrapper-mobile .nav-menus .stations-list {
  width: 260px;
  min-height: 200px;
  background: #fff;
  float: left;
  overflow: auto;
  transition: .1s linear;
  display: block
}

.header .menu-wrapper-mobile .nav-menus .channels-list .station-link {
  margin: 15px 20px 0;
  display: block;
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px
}

.header .menu-wrapper-mobile .nav-menus .channels-list.hide-list,.header .menu-wrapper-mobile .nav-menus .stations-list.hide-list {
  overflow: hidden
}

.header .menu-wrapper-mobile .nav-menus .hide-list {
  width: 0;
  transition: .1s linear
}

.header .menu-wrapper-mobile .nav-menus ul {
  padding: 10px 0;
  display: block
}

.header .menu-wrapper-mobile .nav-menus li,.header .nav-stations .nav-stations-wrapper .nav-stations-item .nav-stations-submenu li {
  position: relative;
  display: table
}

.header .menu-wrapper-mobile .nav-menus li {
  border-left: 5px solid #fff;
  padding-left: 15px
}

.header .menu-wrapper-mobile .nav-menus li {
  line-height: 35px;
  color: #1a1a1a
}

.header .menu-wrapper-mobile.tab .nav-menus li:not(.choosen) a {
  font-weight: 300
}

.header .menu-wrapper-mobile .nav-menus .showcase li:first-child {
  display: block;
  margin: 0 15px;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0 5px 0;
  font-weight: 400
}

.header .menu-wrapper-mobile .nav-menus .showcase li.showcase-title {
  font-weight: 400;
  padding: 0;
  content: ''
}

.header .menu-wrapper-mobile .nav-menus .showcase li a.showcase-item {
  color: #666
}

.header .menu-wrapper-mobile .nav-menus .showcase li a.showcase-item::before {
  content: "•";
  padding-right: 5px
}

.header .menu-wrapper-mobile .nav-menus li.choosen {
  font-weight: 400
}

.header .menu-wrapper-mobile .close-mask {
  float: left
}

.header ul.horoscope-nav {
  min-width: 245px
}

.header ul.horoscope-nav .showcase-title {
  margin-bottom: 10px
}

.header ul.horoscope-nav li {
  color: #666
}

.header ul.horoscope-nav li:not(:first-child) {
  width: 75px;
  float: left;
  height: 70px;
  display: block;
  margin: 5px 0 15px 0;
  transition: .3s ease-in-out
}

.header ul.horoscope-nav li:hover {
  opacity: 1;
  transition: .3s ease-in-out
}

.header ul.horoscope-nav li a i,.header ul.horoscope-nav li a span {
  width: 100%;
  text-align: center;
  float: left;
  color: #333
}

.header ul.horoscope-nav li a i {
  font-size: 28px
}

.header ul.horoscope-nav li a span {
  font-size: 14px
}

.header ul.horoscope-nav {
  min-width: 245px
}

.header ul.video-channels {
  min-width: 210px
}

.header .menu-wrapper-mobile ul.video-channels li:first-child {
  border-top: 1px solid #e6e6e6;
  margin: 0 20px 20px;
  display: block;
  padding: 10px 0 0;
  border-left: 0
}

.header ul.video-channels li.video-channels-items {
  float: left;
  padding: 0;
  border: none;
  width: 100px;
  height: 40px;
  margin: 0 10px 20px
}

.header ul.video-channels span[class^=icon] {
  background: url(https://conteudo.imguol.com.br/c/uheader/uheader@1x.png) 0 0 no-repeat transparent;
  display: block;
  text-indent: -9999px;
  margin: 0 auto
}

.header ul.video-channels .showcase-title {
  font-weight: 400
}

.header ul.video-channels span.icon-band {
  background-position: -44px -37px;
  width: 62px;
  height: 17px;
  margin: 13px auto 0
}

.header ul.video-channels span.icon-redetv {
  background-position: 0 0;
  width: 57px;
  height: 37px
}

.header ul.video-channels span.icon-espn {
  background-position: 0 -78px;
  width: 52px;
  height: 13px;
  margin: 13px auto 0
}

.header ul.video-channels span.icon-tv-caras {
  background-position: -57px 0;
  width: 47px;
  height: 35px
}

.header ul.video-channels span.icon-tv-folha {
  background-position: 0 -37px;
  width: 43px;
  height: 26px
}

.bannersticky-top-container {
  z-index: 6000007;
  position: relative
}

body .widgetUOLAvatarProduct {
  padding-top: 12px
}

body.widgetNotifyMobileVersion .widgetNotify.black .widgetUOLAvatarProduct .widget-container .perfilAvatar {
  background-position: -30px -108px
}

body.widgetNotifyDesktopVersion .widgetNotify.black .widgetUOLAvatarProduct .widget-container .perfilAvatar {
  background-position: -33px -139px
}

.modal-comments .header.is-fixed {
  position: inherit
}

@media (min-width:768px) {
  .header .brand .main-links .box-logo .icon-uol {
    padding-left: 30px;
    font-size: 49px;
    padding-top: 2px;
    background: url(https://conteudo.imguol.com.br/c/_layout/v2/components/header/logo_uol_1x.png) no-repeat center left
  }

  .header .wrapper-header.tab .brand .open-menu {
    position: absolute
  }

  .header ul.teams.thin li {
    float: left;
    padding: 0 14px 20px
  }

  .header .brand .main-links .station-link a {
    font-size: 22px
  }

  .header .tab .brand .main-links {
    display: table;
    margin: 0 auto
  }

  .header .brand .open-menu {
    margin-right: 20px
  }

  .header .brand .main-links .station-link {
    margin-left: 8px
  }
}

@media (min-width:992px) {
  .header .specials .container {
    width: 100%;
    margin: 0;
    padding: 0
  }

  .header .specials .brand .top-box.right li {
    margin-right: 24px
  }

  .header .brand .main-links {
    display: table;
    margin: 0 auto
  }

  .header .brand .open-menu {
    position: absolute
  }

  .header .wrapper-header:not(.specials) .brand .main-links {
    display: table;
    margin: 0 auto
  }

  .header .brand .top-box li a {
    font-weight: 400
  }

  .header .brand .main-links .station-link a {
    font-weight: 300
  }

  .header ul.teams {
    min-width: 160px
  }

  .header .menu-wrapper-mobile .nav-menus ul.teams {
    max-width: 210px
  }

  .header .menu-wrapper-mobile .nav-menus ul.horoscope-nav {
    min-width: 230px
  }

  .header ul.teams.full li:not(:first-child) {
    float: left;
    padding: 0 20px 20px 0
  }

  .header ul.teams.thin li {
    float: left;
    padding: 0 11px 20px
  }

  .header ul.teams.full li:not(:first-child):nth-child(4n+1) {
    padding-right: 0
  }

  .header ul.video-channels li.video-channels-items {
    padding: 15px 0 0;
    width: 85px
  }

  .header .specials ul.video-channels li.video-channels-items,.header .tab ul.video-channels li.video-channels-items {
    padding: 0
  }

  .header ul.subscribe {
    min-width: 170px;
    padding: 0
  }
}

@media (min-width:1230px) {
  .header .menu-wrapper-mobile .nav-menus ul.teams {
    min-width: 230px
  }

  .header .menu-wrapper-mobile .nav-menus ul.teams li {
    float: left;
    padding: 0 12px 20px
  }

  .header .brand .main-links .box-logo .svg-container {
    padding-top: 16px
  }
}

@media (max-width:767px) {
  .header {
    display: inline-block
  }

  .header .container {
    padding: 0
  }

  .header .brand .open-menu {
    margin-right: 8px
  }

  .header ul.subscribe {
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6
  }

  .header .brand .main-links .station-link a {
    letter-spacing: -.02em
  }

  .header .brand .top-box.right li {
    margin: 1px 5px
  }

  .header .menu-wrapper-mobile .nav-menus ul.subscribe li {
    padding: 0;
    border: none
  }

  .header ul.teams li {
    float: left;
    padding: 0 10px 20px
  }

  .header .brand .top-box .mail-notification em {
    top: 6px
  }

  .modal-login-ios {
    overflow: visible!important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .header .container {
    padding: 0 10px 0 0;
    margin: 0;
    width: 100%;
    max-width: none
  }

  .header ul.subscribe {
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6
  }

  .header .menu-wrapper-mobile .nav-menus ul.subscribe li {
    padding: 0;
    border: none
  }

  .header .brand .top-box.right li:not(::first-child) {
    margin-right: 20px
  }

  .header .brand .top-box.right li.uol-account {
    margin-right: 0
  }

  body .widgetNotify .widgetUOLAvatarProduct .widget-container.avatarfull .widget-username {
    font-weight: 300!important
  }
}

.header .menu-wrapper-mobile .nav-menus ul.subscribe {
  padding-top: 15px
}

.header ul.subscribe li {
  margin-bottom: 5px
}

.header ul.subscribe li:last-child {
  margin-top: 20px
}

.header ul.subscribe .subscribe-title {
  line-height: 30px;
  font-size: 18px;
  color: #666;
  font-weight: 300;
  white-space: normal
}

.header ul.subscribe .phone-number {
  display: block;
  color: #1a1a1a;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600
}

.header ul.subscribe .subtitle {
  display: block;
  color: #999;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300
}

.header ul.teams {
  width: 160px;
  padding: 0
}

.header ul.teams.full li:first-child {
  margin-bottom: 10px
}

.header .menu-layer ul.teams,.header .menu-wrapper-mobile .nav-menus ul.teams {
  width: 230px;
  margin: 15px;
  border-top: 1px solid #e6e6e6;
  padding: 20px 0 0
}

.header .menu-wrapper-mobile .nav-menus ul.teams.thin {
  padding-top: 25px;
  margin-top: 0
}

.header ul.teams li a.team-logo {
  background: url(https://conteudo.imguol.com.br/c/home/layout/camaleao/web/futebol/sprites-times-v13.png) 0 0 no-repeat transparent;
  float: left;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  margin: 0
}

.header ul.teams li a.team-logo.atletico-mg {
  background-position: -60px 0
}

.header ul.teams li a.team-logo.athletico-pr,.header ul.teams li a.team-logo.atletico-pr {
  background-position: -30px 0
}

.header ul.teams li a.team-logo.avai {
  background-position: -120px 0
}

.header ul.teams li a.team-logo.bahia {
  background-position: -180px 0
}

.header ul.teams li a.team-logo.botafogo {
  background-position: -240px 0
}

.header ul.teams li a.team-logo.ceara {
  background-position: -300px 0
}

.header ul.teams li a.team-logo.chapecoense {
  background-position: -360px 0
}

.header ul.teams li a.team-logo.corinthians {
  background-position: -420px 0
}

.header ul.teams li a.team-logo.coritiba {
  background-position: -480px 0
}

.header ul.teams li a.team-logo.cruzeiro {
  background-position: -540px 0
}

.header ul.teams li a.team-logo.csa {
  background-position: -600px 0
}

.header ul.teams li a.team-logo.flamengo {
  background-position: 0 0
}

.header ul.teams li a.team-logo.fluminense {
  background-position: -630px 0
}

.header ul.teams li a.team-logo.fortaleza {
  background-position: -570px 0
}

.header ul.teams li a.team-logo.goias {
  background-position: -510px 0
}

.header ul.teams li a.team-logo.gremio {
  background-position: -450px 0
}

.header ul.teams li a.team-logo.internacional {
  background-position: -390px 0
}

.header ul.teams li a.team-logo.palmeiras {
  background-position: -330px 0
}

.header ul.teams li a.team-logo.santos {
  background-position: -270px 0
}

.header ul.teams li a.team-logo.sao-paulo {
  background-position: -210px 0
}

.header ul.teams li a.team-logo.sport {
  background-position: -150px 0
}

.header ul.teams li a.team-logo.vasco {
  background-position: -90px 0
}

@media (max-width:767px) {
  .header-box {
    height: 50px
  }
}

@media (min-width:768px) and (max-width:991px) {
  .header-box {
    height: 50px
  }
}/* !end-color-cp:header */