/* !color-cp:back-to-top.vertical */.back-to-top .box {
  opacity: .8;
  border-radius: 4px;
  font-family: Dosis;
  padding-top: 0;
  cursor: pointer
}

.back-to-top .box i {
  font-size: 7px;
  margin: 9px 17px 2px
}

.back-to-top .box span {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .4px
}

@media (min-width:992px) {
  .back-to-top .box i {
    font-size: 10px;
    margin: 11px 20px 2px
  }

  .back-to-top .box span {
    font-size: 12px
  }
}/* !end-color-cp:back-to-top.vertical *//* !color-cp:thumbnail-standard.vertical */.thumbnail-standard {
  font-family: Dosis,sans-serif
}

.thumbnail-standard:not(.inline) [class*=thumb-svg-] {
  background: rgba(0,0,0,.2);
  width: 100%;
  height: 100%
}

.thumbnail-standard:not(.inline) [class*=thumb-svg-] svg {
  width: 37px;
  height: 37px;
  margin: 22px 17px;
  position: absolute;
  bottom: 0;
  fill: #fff
}

.thumbnail-standard:not(.inline).col-sm-6.col-md-6.col-lg-6 [class*=thumb-svg-]::after {
  content: attr(data-duration);
  left: 17px;
  bottom: 2px;
  width: 37px;
  text-align: center
}

.thumbnail-standard.image-border .thumb-image:before {
  display: none
}

.thumbnail-standard.image-border .thumb-image .thumb-layer:before {
  border: none
}

.thumbnail-standard a .thumb-kicker,.thumbnail-standard a .thumb-title,.thumbnail-standard a [class*=thumb-svg-] svg,.thumbnail-standard a img {
  transition: all .3s ease
}

.thumbnail-standard a:hover img {
  -webkit-filter: opacity(75%);
  filter: opacity(75%)
}

.thumbnail-standard a:hover .thumb-kicker {
  color: #000
}

.thumbnail-standard a:hover [class*=thumb-svg-] svg {
  fill: #f2f2f2
}

.thumbnail-standard .thumb-caption {
  color: #000
}

.thumbnail-standard .thumb-caption .thumb-kicker {
  font-weight: 300
}

.thumbnail-standard i::after {
  content: '';
  position: absolute
}

.results-index .thumbnail-standard.item-no-image .thumbnail-standard-wrapper a {
  background-color: #fff
}

.results-index .thumbnail-standard.item-no-image .thumbnail-standard-wrapper .thumb-caption {
  padding: 15px 29px 15px 13px
}

@media (min-width:768px) {
  .results-index .thumbnail-standard.item-no-image[class*=col-] .thumbnail-standard-wrapper .thumb-caption {
    padding: 0
  }
}

@media (min-width:992px) {
  .results-index .thumbnail-standard.item-no-image[class*=col-] .thumbnail-standard-wrapper .thumb-caption {
    padding: 0
  }
}

@media (min-width:1230px) {
  .results-index .thumbnail-standard.item-no-image[class*=col-] .thumbnail-standard-wrapper .thumb-caption {
    padding: 0
  }
}

.results-index .thumbnail-standard .thumbnail-standard-wrapper a .thumb-caption::after {
  display: none
}

.results-index .thumbnail-standard .thumbnail-standard-wrapper a .thumb-caption h3.thumb-title {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -.5px;
  font-weight: 500
}

.results-index .thumbnail-standard .thumbnail-standard-wrapper a .thumb-caption p.thumb-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #999
}

.results-index .thumbnail-standard .thumbnail-standard-wrapper a .thumb-caption time {
  font-family: UOLText,Arial,sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -.4px;
  color: #999
}

@media (min-width:1230px) {
  .results-index .thumbnail-standard .thumbnail-standard-wrapper a .thumb-caption h3.thumb-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -.3px
  }

  .results-index .thumbnail-standard .thumbnail-standard-wrapper a .thumb-caption p.thumb-description {
    font-size: 16px;
    line-height: 26px
  }
}

.results-index.gallery .thumbnail-standard.item-no-image[class*=col-] .thumbnail-standard-wrapper .thumb-caption {
  padding: 0
}

.latest-news .results-index[class*=gallery] .thumbnail-standard.item-no-image a {
  padding: 13px 18px
}

@media (min-width:768px) {
  .results-index .thumbnail-standard.item-no-image .thumbnail-standard-wrapper .thumb-caption {
    padding: 13px 16px 12px 18px
  }

  .latest-news .results-index[class*=gallery] .thumbnail-standard.item-no-image a {
    padding: 15px 13px
  }
}

@media (min-width:1230px) {
  .latest-news .results-index[class*=gallery] .thumbnail-standard.item-no-image a {
    padding: 25px 18px
  }
}/* !end-color-cp:thumbnail-standard.vertical *//* !color-cp:forms.vertical */body button,body input,body keygen,body select,body textarea {
  font-family: Dosis
}

.btn {
  font-family: Dosis;
  font-weight: 500;
  padding: 14px 20px
}

.btn.btn-ghost.disabled {
  color: #999
}

.btn.btn-alternative {
  font-family: UOLtext,sans-serif;
  font-weight: 500;
  color: #000;
  padding: 0
}

.btn.btn-alternative [class*=icon-] {
  font-size: 34px;
  margin-right: 18px
}

.btn.btn-alternative:hover {
  color: #000
}

.btn.btn-alternative:hover:not(.not-hover):not(.selected) {
  opacity: 1
}

.btn.btn-alternative.selected {
  background: 0 0;
  color: #000
}

.btn.btn-alternative.disabled {
  opacity: 1;
  color: #000
}

.btn.btn-block {
  height: 40px;
  font-size: 16px;
  padding: 13px 20px
}

.btn.btn-large,.btn.btn-medium {
  height: 40px
}

.btn.btn-large .svg-icon,.btn.btn-large .svg-icon-view-box-small,.btn.btn-medium .svg-icon,.btn.btn-medium .svg-icon-view-box-small {
  margin-top: -3px
}

.btn.btn-small .svg-icon,.btn.btn-small .svg-icon-view-box-small {
  margin-top: -4px
}

.btn-ghost.disabled,.btn-primary.disabled,.btn-secondary.disabled,.btn[disabled].btn-primary,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-secondary {
  color: #999
}

.btn-large,.btn-medium,.btn-xs-medium {
  font-size: 16px;
  letter-spacing: .6px;
  padding: 11px 20px
}

.btn-small {
  font-size: 12px;
  letter-spacing: .5px;
  padding: 9px 20px;
  height: 30px
}

.selector option {
  color: #000;
  font-weight: 500;
  letter-spacing: -.7px
}

.element-divisor::before {
  content: none
}

input[type=radio]+label:before {
  font-size: 25px;
  height: 20px;
  line-height: 20px;
  width: 20px
}

input:-ms-input-placeholder {
  text-transform: initial;
  font-size: 18px;
  letter-spacing: -.7px;
  font-weight: 500;
  font-family: Dosis;
  color: #999
}

input::-webkit-input-placeholder {
  text-transform: initial;
  font-size: 18px;
  letter-spacing: -.7px;
  font-weight: 500;
  font-family: Dosis;
  color: #999
}

input::-moz-placeholder {
  text-transform: initial;
  font-size: 18px;
  letter-spacing: -.7px;
  font-weight: 500;
  font-family: Dosis;
  color: #999
}

@media (max-width:767px) {
  .btn.btn-large.btn-xs-small,.btn.btn-medium.btn-xs-small {
    font-size: 12px;
    letter-spacing: .5px
  }
}

@media (min-width:768px) {
  input[type=checkbox]+label:before,input[type=checkbox]:checked+.svg-checked .svg-icon,input[type=radio]+label:before {
    left: 8px
  }

  input[type=checkbox]+label,input[type=radio]+label {
    padding-left: 32px
  }
}/* !end-color-cp:forms.vertical *//* !color-cp:line.vertical */hr.normal,hr.thin-normal {
  border-top: 0
}

hr.thin-normal {
  height: 7px
}

hr.thin-on-verticals {
  border: 0;
  border-top: 1px solid #e6e6e6;
  height: initial;
  background-color: #e6e6e6;
  margin: 0 10px
}

@media (min-width:992px) {
  hr.thin-on-verticals {
    width: 950px;
    margin: 0 auto
  }
}

@media (min-width:1230px) {
  hr.thin-on-verticals {
    width: 1170px
  }
}/* !end-color-cp:line.vertical *//* !color-cp:read-more.vertical */.read-more {
  overflow: hidden;
  position: relative;
  width: 100%
}

.read-more.closed {
  margin-bottom: 40px
}

.read-more .read-more-btn {
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 77%,#fff 60%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(77%,#fff),color-stop(60%,#fff));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 77%,#fff 60%);
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 77%,#fff 60%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 77%,#fff 60%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 77%,#fff 60%);
  bottom: 0;
  position: absolute;
  padding-top: 140px;
  text-align: center;
  width: 100%;
  z-index: 120
}

.read-more-btn .hide,.read-more.btn-hide .read-more-btn,.read-more.closed .read-more-btn .btn-last {
  display: none
}

.read-more.opened.btn-show {
  padding-bottom: 0
}

.read-more.opened .read-more-btn {
  padding-top: 0;
  background: 0 0
}

.read-more-log-in-btn {
  text-align: center;
  margin-bottom: 50px
}

@media (max-width:767px) {
  .read-more.opened {
    padding-bottom: 40px
  }
}

@media (min-width:768px) {
  .read-more.closed {
    margin-bottom: 50px
  }
}/* !end-color-cp:read-more.vertical *//* !color-cp:scroll.vertical */.scroll.is-active .scrollbar-track:after,.scroll.is-active .scrollbar:after,.scroll.is-over .scrollbar-track:after,.scroll.is-over .scrollbar:after {
  opacity: 1
}

.scroll .scrollbar-track:after {
  background: #b3b3b3;
  opacity: 1
}

.scroll .scrollbar:after {
  opacity: 1
}/* !end-color-cp:scroll.vertical *//* !color-cp:webfonts.vertical */@font-face {
  font-family:Dosis;font-style:normal;font-weight:200;src:url(../../webfont/projeto-grafico/uol-font//verticais/dosis-200-v6.woff2) format("woff2"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-extralight.woff) format("woff"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-extralight.ttf) format("truetype")
}

@font-face {
  font-family:Dosis;font-style:normal;font-weight:300;src:url(../../webfont/projeto-grafico/uol-font//verticais/dosis-300-v6.woff2) format("woff2"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-light.woff) format("woff"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-light.ttf) format("truetype")
}

@font-face {
  font-family:Dosis;font-style:normal;font-weight:400;src:url(../../webfont/projeto-grafico/uol-font//verticais/dosis-400-v6.woff2) format("woff2"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-regular.woff) format("woff"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-regular.ttf) format("truetype")
}

@font-face {
  font-family:Dosis;font-style:normal;font-weight:500;src:url(../../webfont/projeto-grafico/uol-font//verticais/dosis-500-v6.woff2) format("woff2"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-medium.woff) format("woff"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-medium.ttf) format("truetype")
}

@font-face {
  font-family:Dosis;font-style:normal;font-weight:600;src:url(../../webfont/projeto-grafico/uol-font//verticais/dosis-600-v6.woff2) format("woff2"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-semibold.woff) format("woff"),url(../../webfont/projeto-grafico/uol-font//verticais/dosis-semibold.ttf) format("truetype")
}/* !end-color-cp:webfonts.vertical */