.article header h1 {
  text-align: center
}

.article header .alignSub {
  text-align: left
}

.article .author {
  margin-bottom: 24px
}

.article header h1 small {
  color: #999;
  font-weight: 100
}

.article header .slot-e {
  margin-bottom: 16px
}

.article .h-external.alignSub {
  margin-bottom: 0
}

.article .thin {
  margin-bottom: 30px
}

.article header h1 span small {
  display: table;
  height: 30px;
  font-size: 22px;
  font-style: normal;
  line-height: 30px;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: normal;
  margin-top: 8px
}

.article header h1 .kicker {
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666;
  font-weight: 300;
  display: block;
  margin-bottom: 10px
}

.article .text,.article .text p:not(.p-unstyled) {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #1a1a1a
}

.article .text strong {
  font-weight: 600
}

.article .representative,.article .share,.article header h1,.text [id*=media-],.text ol:not(.list-unstyled),.text ul:not(.list-unstyled) {
  margin-bottom: 30px
}

.text>ol:not(.list-unstyled) li,.text>ul:not(.list-unstyled) li {
  margin-bottom: 10px
}

.text ol:not(.list-unstyled),.text ul:not(.list-unstyled) {
  padding-left: 25px
}

.text>ul:not(.list-unstyled) li {
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  line-height: 30px
}

.text>ul:not(.list-unstyled) li:before {
  content: "";
  border-radius: 50%;
  height: 5px;
  width: 5px;
  top: 12px;
  left: 0;
  position: absolute
}

.text h3:not(.unstyled) {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.29;
  margin-bottom: 30px;
  padding-top: 30px
}

.article .report-error-button {
  margin-bottom: 24px
}

.article .embed,.text [class*=embed] {
  margin-bottom: 32px
}

.article .embed>div,.article .embed>section {
  margin-bottom: 0
}

.article header h1 span i {
  font-style: normal;
  padding: 0
}

.article header h1.inner-title {
  text-align: left;
  margin-bottom: 20px
}

.article .representative figcaption,.text .modfoto .conteudo ul li p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #1a1a1a;
  margin-top: 8px
}

.article .representative figcaption span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #b3b3b3;
  display: block;
  margin-top: 2px
}

.article-image-content .representative,.article-image-content header {
  padding-left: 0;
  padding-right: 0
}

.article .text blockquote,.article .text cite {
  display: block;
  line-height: 28px;
  position: relative;
  margin-bottom: 8px;
  text-indent: 26px
}

.article .text blockquote p:not(.p-unstyled),.article .text cite {
  font-size: 22px;
  font-weight: 400
}

.article .text cite {
  font-weight: 200
}

.article .text blockquote {
  font-style: italic
}

.article .text cite strong,.article .text cite~strong {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal
}

.article .text cite~br {
  display: none
}

.article .text blockquote:before,.article .text cite:before {
  content: '\e630';
  font-family: UOLIcons;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  left: -26px;
  top: -8px;
  position: absolute
}

.article .text .lead:not(.p-unstyled) {
  color: #1a1a1a;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300
}

.article .slot-b,.article .slot-c {
  clear: both
}

.article .video-embed {
  clear: both
}

.text .video-embed ol:not(.list-unstyled),.text .video-embed ul:not(.list-unstyled) {
  margin-bottom: 0
}

.text ol:not(.list-unstyled) li {
  list-style: decimal
}

.text .video-embed ol:not(.list-unstyled) li,.text .video-embed ul:not(.list-unstyled) li {
  list-style: none
}

.text ol:not(.list-unstyled) li,.text ul:not(.list-unstyled) li {
  list-style-position: inside
}

.text .modulos a,.text p a:not(.a-unstyled),.text>ol li a:not(.a-unstyled),.text>ul li a:not(.a-unstyled) {
  font-weight: 400;
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat
}

.article .author:not(.translator):not(.has-image) {
  display: inline-block
}

.article .author.by-author {
  display: table
}

.article .author.translator {
  margin-bottom: 20px
}

.article .whatsapp-news {
  margin-bottom: 30px
}

.text .imagem-representativa,.text .modabaembedavel,.text .modlistavideos,.text .modquiz {
  display: none!important
}

.text .modulos {
  margin-bottom: 24px
}

.text .modulos.left {
  margin-right: 15px
}

.text .modulos.right {
  margin-left: 15px
}

.text .right {
  float: right
}

.text .left {
  float: left
}

.text .modleiamais ul:not(.list-unstyled) li,.text .modulos ul.mais li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px
}

.text .modleiamais ul:not(.list-unstyled) li:before,.text .modulos ul.mais li:before {
  content: "";
  border-radius: 50%;
  height: 5px;
  width: 5px;
  top: 10px;
  left: 0;
  position: absolute
}

.article-image .representative .placeholder {
  max-width: initial!important
}

.text .modulos a:hover,.text p a:not(.a-unstyled):hover,.text>ol li a:not(.a-unstyled):hover,.text>ul li a:not(.a-unstyled):hover {
  background: 0 0
}

.article .embed .animated-gif.big img,.article .embed .animated-gif.big video,.article .embed .animated-gif.small img,.article .embed .animated-gif.small video {
  max-width: 100%
}

.text .modtabela {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  position: relative
}

.text .modtabela .modTabelaData {
  border-left: solid 1px #b8c1cb;
  border-top: solid 1px #b8c1cb
}

.text .modtabela .modTabelaData td {
  border-right: solid 1px #b8c1cb;
  border-bottom: solid 1px #b8c1cb;
  padding: 15.9px 20px 16.1px 20px
}

.text .modtabela .modTabelaData .negrito {
  font-weight: 700
}

.text .modtabela .modTabelaData .destacado,.text .modtabela .modTabelaData .listra {
  background-color: #f7f7f7
}

.text .modtabela .conteudo {
  overflow-x: scroll;
  padding-bottom: 10px
}

.text .modtabela .conteudo::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 20px;
  height: 20px
}

.text .modtabela .conteudo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d8d8d8
}

.text .modtabela ul.mais {
  margin-top: 10px;
  padding-left: 0
}

.text .modtabela:after {
  content: "";
  display: block;
  background: linear-gradient(to right,rgba(255,0,0,0),#fff);
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0
}

.texto .modulos.modtabela.medio table tr td img {
  max-width: 278px
}

.text .modulos.modtabela.grande table tr td img {
  max-width: none;
  width: 278px
}

.text .modfoto .imagem {
  margin-bottom: 10px
}

.text .modfoto.pequeno img.imagem {
  width: 250px
}

.text .modfoto.medio img.imagem {
  width: 300px
}

.text .modfoto.grande img.imagem {
  width: 600px
}

.text .modfoto.grande.textodireita ul li p {
  padding: 0 .6em .6em 0
}

.text .modfoto.grande.textodireita img.imagem {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em
}

.text .modfoto.grande.textodireita p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.text .modfoto.grande.textodireita img.imagem {
  max-width: none;
  max-height: none;
  width: auto;
  height: auto
}

.text .modfoto .conteudo {
  border-bottom: 1px solid #e6e6e6
}

.text .modfoto ul.mais {
  border-bottom: 0
}

.text .modfoto ol:not(.list-unstyled),.text .modfoto ul:not(.list-unstyled) {
  padding: 0!important;
  margin-bottom: inherit!important
}

.article .read-more.closed .chartbeat-related-content {
  visibility: hidden
}

@media (max-width:767px) {
  .article header h1 {
    line-height: 32px;
    margin-bottom: 20px
  }

  .article header .alignSub {
    text-align: center
  }

  .article header .slot-e {
    text-align: center
  }

  .article header .slot-e .bio-date {
    display: inline-block;
    text-align: left
  }

  .article header h1 small {
    font-size: 18px
  }

  .article header h1 span small {
    width: auto;
    font-size: 18px;
    line-height: normal;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto
  }

  .text h3:not(.unstyled) {
    font-size: 24px;
    letter-spacing: normal;
    line-height: 1.33
  }

  .article .representative {
    margin-bottom: 20px
  }

  .article .representative .image {
    margin-left: -10px;
    margin-right: -10px
  }

  .article .image amp-img,.article .image img {
    width: 100%
  }

  .article iframe {
    width: 100%
  }

  .article .embed .animated-gif.big img,.article .embed .animated-gif.big video,.article .embed .animated-gif.small img,.article .embed .animated-gif.small video {
    width: 100%
  }

  .article .text {
    margin-bottom: 35px
  }
}

@media (min-width:768px) {
  .text .modtabela:after {
    display: none
  }

  .text .photo-embed {
    margin-bottom: 32px
  }

  .article .representative {
    margin-bottom: 28px
  }

  .article .representative figcaption {
    margin-top: 6px
  }

  .article-image .divider,.article-image-content .divider {
    padding-bottom: 27px
  }

  .article-image header {
    position: relative;
    z-index: 2
  }

  .article-image header h1 {
    color: #fff;
    display: table;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
  }

  .article-image header h1 span {
    display: table-cell;
    padding-bottom: 40px;
    vertical-align: bottom
  }

  .article.article-image header h1 .kicker {
    color: #fff
  }

  .article header h1 span i {
    float: none;
    margin: 0 auto;
    display: block
  }

  .article header h1 span small {
    display: table;
    height: 30px;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: normal
  }

  .article-image header h1 small {
    color: rgba(255,255,255,.6)
  }

  .article-image .representative .image,.article-image header h1 {
    height: 400px
  }

  .article-image .image {
    overflow: hidden;
    position: relative
  }

  .article-image .representative .image:before {
    background: -webkit-linear-gradient(90deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.2) 60%,rgba(26,26,26,0) 100%);
    background: -moz-linear-gradient(90deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.2) 60%,rgba(26,26,26,0) 100%);
    background: -o-linear-gradient(90deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.2) 60%,rgba(26,26,26,0) 100%);
    background: -ms-linear-gradient(90deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.2) 60%,rgba(26,26,26,0) 100%);
    background: linear-gradient(0deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.2) 60%,rgba(26,26,26,0) 100%);
    bottom: 0;
    content: '';
    display: block;
    height: 60%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1
  }

  .article-image .image:before {
    background: #000 \ 9;
    height: 100%\9;
    opacity: .5\9
  }

  .article-image:not(.article-image-content) .representative img {
    min-width: 100%;
    display: none
  }

  .article-image.container:not(.article-image-content) {
    max-width: initial
  }

  .article-image-content header {
    float: right;
    margin-top: 30px;
    margin-bottom: 0;
    z-index: 1
  }

  .article-image-content header h1 {
    background: #fff;
    margin-bottom: 10px;
    margin-left: -40px;
    padding: 20px 0 20px 20px;
    text-align: left
  }

  .article-image-content header h1 small {
    display: block
  }

  .article-image-content .representative,.article-image-content .representative figcaption {
    padding-right: 20px
  }

  .article .text {
    margin-bottom: 45px
  }

  .article .text blockquote p:not(.p-unstyled),.article .text cite {
    font-size: 24px;
    line-height: 32px
  }
}

@media (min-width:768px) and (max-width:991px) {
  .text .modtabela {
    overflow-x: scroll
  }

  .article header .slot-e {
    margin-bottom: 16px
  }

  .article .representative .image {
    margin-left: -10px;
    margin-right: -10px
  }

  .article header h1 small {
    font-size: 24px
  }
}

@media (min-width:992px) and (max-width:1229px) {
  .article header h1 small {
    font-size: 24px
  }

  .article header .slot-e {
    margin-bottom: 16px
  }

  .article header h1.inner-title small {
    font-size: 26px
  }

  .article .related-content.item-4 li {
    width: 33.333333333333336%
  }

  .article .related-content.item-4 li:nth-child(4) {
    display: none
  }
}

@media (min-width:992px) {
  .article-image-content header h1 {
    margin-left: -50px;
    padding-left: 25px
  }

  .article-image:not(.article-image-content) .representative img {
    display: block;
    height: auto
  }

  .article-image.container:not(.article-image-content) {
    max-width: inherit
  }

  .article-image .representative .image,.article-image header h1 {
    height: 375px
  }

  .article .ads {
    margin: 0
  }

  .article-image-content .representative figcaption {
    padding-right: 25px
  }

  .article header h1.inner-title {
    font-size: 40px;
    line-height: 46px
  }
}

@media (min-width:1230px) {
  .article .representative,.article .share,.article header h1,.text [id*=media-],.text ol:not(.list-unstyled),.text ul:not(.list-unstyled) {
    margin-bottom: 24px
  }

  .article .author,.article .representative {
    margin-bottom: 28px
  }

  .article-image .representative .image,.article-image header h1 {
    height: 470px
  }

  .article-image-content header {
    margin-top: 40px
  }

  .article-image-content header h1 {
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 20px
  }

  .article header h1 small {
    font-size: 30px
  }

  .article header h1.inner-title {
    font-size: 46px;
    line-height: 50px
  }

  .article-image-content .representative figcaption {
    padding-right: 30px
  }
}

.article header {
  padding: 0 10px
}

.article header h1 {
  text-align: left
}

.article header h1 span i {
  font-family: Dosis,sans-serif;
  display: inline;
  border-radius: 4px;
  font-weight: 200;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone
}

.article .text {
  clear: both;
  font-size: 18px;
  line-height: 32px;
  color: #000;
  font-weight: 500
}

.article .text ul:not(.list-unstyled) {
  padding-left: 30px;
  margin-bottom: 35px
}

.article .text ul:not(.list-unstyled) li {
  list-style: disc;
  color: #000;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  padding-left: 0;
  margin-bottom: 20px
}

.article .text ul:not(.list-unstyled) li:before {
  display: none
}

.article .text ul:not(.list-unstyled) li a {
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat
}

.article .text ul:not(.list-unstyled) li a:hover {
  background-size: 0 0
}

.article .text ul:not(.list-unstyled) li u {
  text-decoration: none
}

.article .text p:not(.p-unstyled) {
  font-size: 18px;
  line-height: 32px;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500
}

.article .text p.lead:not(.p-unstyled) {
  font-family: Dosis,sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
  color: #000
}

.article .text p a:not(.a-unstyled) {
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  word-break: break-word
}

.article .text p a:hover {
  background-size: 0 0;
  word-break: break-word
}

.article .text blockquote,.article .text cite {
  font-family: Dosis,sans-serif;
  font-style: normal;
  margin-bottom: 10px;
  text-indent: 0;
  margin-top: 85px
}

.article .text blockquote strong,.article .text cite strong {
  font-family: Dosis,sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  display: block;
  margin-top: 10px
}

.article .text blockquote:before,.article .text cite:before {
  color: #000;
  content: '';
  background: transparent url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2254px%22%20height%3D%2243px%22%20viewBox%3D%220%200%2054%2043%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22aspas%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22%E2%80%9C%22%3E%3Cpath%20d%3D%22M0.2%2C30.6846154%20C0.2%2C27.9922942%203.56131092%2C19.0404607%2010.2840336%2C3.82884615%20C11.2252148%2C1.80960529%2012.7714178%2C0.8%2014.9226891%2C0.8%20C16.670597%2C0.8%2018.3176393%2C1.33845615%2019.8638655%2C2.41538462%20C21.4100918%2C3.49231308%2022.1831933%2C4.90576048%2022.1831933%2C6.65576923%20C22.1831933%2C7.19423346%2021.9815146%2C8.00191769%2021.5781513%2C9.07884615%20L17.1411765%2C19.7807692%20C21.8470824%2C21.8000101%2024.2%2C25.4345891%2024.2%2C30.6846154%20C24.2%2C34.0500168%2023.0235412%2C36.9105651%2020.6705882%2C39.2663462%20C18.3176353%2C41.6221272%2015.460521%2C42.8%2012.0991597%2C42.8%20C8.87225277%2C42.8%206.08236471%2C41.6221272%203.72941176%2C39.2663462%20C1.37645882%2C36.9105651%200.2%2C34.0500168%200.2%2C30.6846154%20Z%20M29.2%2C30.6846154%20C29.2%2C27.9922942%2032.5613109%2C19.0404607%2039.2840336%2C3.82884615%20C40.2252148%2C1.80960529%2041.7714178%2C0.8%2043.9226891%2C0.8%20C45.670597%2C0.8%2047.3176393%2C1.33845615%2048.8638655%2C2.41538462%20C50.4100918%2C3.49231308%2051.1831933%2C4.90576048%2051.1831933%2C6.65576923%20C51.1831933%2C7.19423346%2050.9815146%2C8.00191769%2050.5781513%2C9.07884615%20L46.1411765%2C19.7807692%20C50.8470824%2C21.8000101%2053.2%2C25.4345891%2053.2%2C30.6846154%20C53.2%2C34.0500168%2052.0235412%2C36.9105651%2049.6705882%2C39.2663462%20C47.3176353%2C41.6221272%2044.460521%2C42.8%2041.0991597%2C42.8%20C37.8722528%2C42.8%2035.0823647%2C41.6221272%2032.7294118%2C39.2663462%20C30.3764588%2C36.9105651%2029.2%2C34.0500168%2029.2%2C30.6846154%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
  width: 56px;
  height: 47px;
  top: -56px;
  left: 0
}

.article .text blockquote p:not(.p-unstyled),.article .text cite {
  color: #000;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px
}

.article .text h3 {
  font-family: Dosis,sans-serif;
  font-size: 40px;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.1;
  color: #000;
  font-weight: 500
}

.article .related-collection,.article .report-error-button {
  margin-bottom: 40px
}

.article-image-content header {
  margin-top: 0
}

.article-image-content header h1 {
  padding: 0;
  margin-left: 0
}

.article-image .representative {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 10px
}

.article-image.container .representative {
  margin-top: -1px;
  padding: 0
}

.article-image header h1 span {
  padding-bottom: 0
}

.collection-item .article {
  margin-top: 0
}

@media (max-width:767px) {
  .article header h1 {
    margin-bottom: 35px
  }

  .article header h1 span i {
    line-height: 54px;
    font-size: 40px;
    letter-spacing: -.8px
  }

  .article .representative .image {
    margin-left: inherit;
    margin-right: inherit
  }

  .article .text {
    margin-bottom: 35px
  }

  .article .text p.lead:not(.p-unstyled) {
    font-size: 24px;
    line-height: 34px
  }

  .article .text h3 {
    font-size: 32px;
    line-height: 1.38;
    padding-top: 25px
  }

  .article .text ul:not(.list-unstyled) li {
    margin-bottom: 10px
  }

  .article .text .album-embed.embed {
    margin-bottom: 70px
  }

  .article .comments,.article .read-more.btn-show:not(.confrontPollRead-more),.article .related-content {
    margin-bottom: 70px
  }

  .article-image header h1 {
    margin-bottom: 0
  }

  .article-image header h1 span {
    padding-left: 0
  }

  .article-image header h1 span i {
    line-height: 54px;
    font-size: 40px;
    letter-spacing: -.8px
  }

  .collection-item .article .thin {
    margin-bottom: 50px
  }
}

@media (min-width:768px) {
  .article header h1 {
    margin-bottom: 40px
  }

  .article header h1 span i {
    line-height: 61px;
    font-size: 46px;
    letter-spacing: -.8px
  }

  .article .text {
    font-size: 19px;
    line-height: 36px;
    margin-bottom: 45px
  }

  .article .text ul:not(.list-unstyled) li {
    font-size: 19px;
    line-height: 36px;
    margin-bottom: 10px
  }

  .article .text p:not(.p-unstyled) {
    font-size: 19px;
    line-height: 36px
  }

  .article .text p.lead:not(.p-unstyled) {
    font-size: 28px;
    line-height: 36px
  }

  .article .text .album-embed.embed {
    margin-bottom: 100px
  }

  .article blockquote p:not(.p-unstyled),.article cite {
    font-size: 38px;
    line-height: 50px
  }

  .article .comments {
    margin-bottom: 100px
  }

  .article .read-more.btn-show:not(.confrontPollRead-more) {
    margin-bottom: 120px
  }

  .article-image header h1 {
    margin-top: 1px;
    margin-bottom: 0
  }

  .article-image header h1 span {
    padding-left: 24px
  }

  .article-image header h1 span i {
    line-height: 61px;
    font-size: 46px;
    letter-spacing: -.8px
  }

  .article-image.container header h1 {
    margin-top: 0
  }

  .article-image .representative {
    margin-bottom: 35px;
    margin-top: 0
  }

  .article-image-content .representative .image {
    margin: 0
  }

  .collection-item .article {
    margin-top: 0
  }

  .collection-item .article .thin {
    margin-bottom: 80px
  }
}

@media (min-width:768px) and (max-width:991px) {
  .article-image .bottom-title {
    margin-left: 12.5%
  }
}

@media (min-width:992px) {
  .article header h1 span i {
    line-height: 79px;
    font-size: 60px;
    letter-spacing: -.8px
  }

  .article-image-content header h1 span i {
    line-height: 51px;
    font-size: 38px
  }

  .article-image .representative {
    padding: 0
  }

  .article-image.container .representative .image,.article-image.container header h1 {
    height: 438px
  }

  .article-image header h1 span {
    padding-left: 57px
  }

  .article-image header h1 span i {
    line-height: 79px;
    font-size: 60px;
    letter-spacing: -1px
  }
}

@media (min-width:1230px) {
  .article header h1 span i {
    line-height: 92px;
    font-size: 70px;
    letter-spacing: -.9px
  }

  .article .text {
    font-size: 21px;
    line-height: 40px
  }

  .article .text ul:not(.list-unstyled) li {
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 10px
  }

  .article .text p:not(.p-unstyled) {
    font-size: 21px;
    line-height: 40px
  }

  .article .text p.lead:not(.p-unstyled) {
    font-size: 30px;
    line-height: 40px
  }

  .article .text blockquote p:not(.p-unstyled),.article .text cite {
    font-size: 44px;
    line-height: 50px
  }

  .article .text blockquote p:not(.p-unstyled):before,.article .text cite:before {
    color: #000
  }

  .article-image-content header h1 span i {
    line-height: 71px;
    font-size: 54px
  }

  .article-image-content .representative {
    padding-right: 30px
  }

  .article-image.container .representative .image,.article-image.container header h1 {
    height: 540px
  }

  .article-image header h1 span {
    padding-left: 100px
  }

  .article-image header h1 span i {
    line-height: 92px;
    font-size: 70px;
    letter-spacing: -1.2px
  }
}